@model City

<form method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="population">Date Hired</label>
        <input asp-for="population" type="date" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>