@model City

    <table class="table">
        <tr>
            <th role="row">Id</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th role="row">Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th role="row">Population</th>
            <td>@Model.population</td>
        </tr>
    </table>